
table, td, th{
    border: 2px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}
  
td, th {
    padding: 7px 20px 7px 20px;
}

.par {
    background-color: rgb(255, 194, 80, 0.4);
}

.impar {
    background-color: rgba(246, 148, 255, 0.4);
}

th {
    background-color: rgba(172, 255, 47, 0.6);
}